<ion-grid class="ion-no-padding">
  <ion-row>
      <ion-col size="3" class="ion-text-center share">
        <br>
        <img src="../../../../../assets/img/Share-icon.png" class="img-fluid" width="45px" height="45px" alt="" id="shareIcon">
        <span class="btn-floating localBtn" style="float: left">Share</span>
      </ion-col>
    <ion-col size="7" class="ion-text-center">
      <h1 id="caption">Your World</h1>
    </ion-col>
    <ion-col size="2">
        <button id="backButton" (click)="this.goBack()"> <img src="../../../assets/img/back-button-icon-png-21.jpg"  width="75px" height="35px" alt="<"></button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="2" size="4" class="ion-text-center">
      <button class="localBtn ion-activatable"  ion-text-center (click)="this.openModal('Upload')"> Upload File
          <!-- onclick="document.getElementById('uploadFile').click()" -->
      <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
    <ion-col size="5" class="ion-text-center">
      <button class="localBtn ion-activatable" ion-text-center (click)="this.openModal('Download')"> 
        Download File
        <!-- onclick="document.getElementById('downloadFile').click()" -->
          <ion-ripple-effect></ion-ripple-effect>
      </button>
      <input type='file' id="downloadFile" style="display:none">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <h3 class="badge badge-info">My Uploads</h3>
    </ion-col>
    <ion-col size="6" class="text-right">
      <h3 class="badge badge-info">My Downloads</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="border border-right-5 border-left-0 border-top-0 border-bottom-0 ">
      <div class="text-center ion-padding" *ngIf="uploadedFiles.length===0">
          <ion-text class="badge badge-primary text-center ion-padding">
              No File Currently Uploaded. 
              <p>Upload to get started<br> <ion-icon ios="ios-color-wand" md="md-color-wand"   style="font-size: 33px"></ion-icon></p>
            </ion-text>
      </div>
      <ion-list *ngIf="uploadedFiles && uploadedFiles.length > 0" class="text-white">
            <ion-item-sliding *ngFor="let uploadedFile of uploadedFiles"  #uploadSlidingItem>
              <ion-item color="success" class="ion-no-padding border border-right-0 border-left-0 border-top-0 border-bottom-3">
                <ion-thumbnail slot="start">
                  <ion-img [src]="this.getImagePath(uploadedFile.type)"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h5>{{ uploadedFile.name }}<br>{{ uploadedFile.size }}</h5>
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option
                  color="danger"
                  (click)="onDelete('upload', uploadedFile.name, uploadSlidingItem)"
                >
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
                <ion-item-option color="secondary" (click)="this.edit('upload', uploadedFile.name, uploadSlidingItem)">
                    <ion-icon ios="ios-create" md="md-create" slot="icon-only"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="primary" (click)="this.open('upload', uploadedFile.name, uploadSlidingItem)">
                      <ion-icon ios="ios-open" md="md-open" slot="icon-only"></ion-icon>
                    </ion-item-option> 
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
    </ion-col>
    <ion-col size="6" class="border border-left-5 border-right-0 border-top-0 border-bottom-0">
      <div class="text-center ion-padding" *ngIf="downloadedFiles.length===0">
          <ion-text class="badge badge-primary text-center" >
              No File Downloaded yet.  
              <p>Check if there's any <br> file to download<br><ion-icon ios="ios-cloud-download" md="md-cloud-download" style="font-size: 33px"></ion-icon></p>
            </ion-text>
      </div>
          <ion-list *ngIf="downloadedFiles && downloadedFiles.length > 0" class="bg-secondary text-white">
              <ion-item-sliding *ngFor="let downloadedFile of downloadedFiles" #downloadSlidingItem>
                <ion-item color="success" class="ion-no-padding border border-right-0 border-left-0 border-top-0 border-bottom-3">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="this.getImagePath(downloadedFile.type)" ></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h5>{{ downloadedFile.name }}<br>{{ downloadedFile.size }}</h5>
                  </ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option
                    color="danger"
                    (click)="onDelete('download', downloadedFile.name, downloadSlidingItem)"
                  >
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="secondary" (click)="this.edit('download', downloadedFile.name, downloadSlidingItem)">
                    <ion-icon ios="ios-create" md="md-create" slot="icon-only"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="primary" (click)="this.open('download', downloadedFile.name, downloadSlidingItem)">
                      <ion-icon ios="ios-open" md="md-open" slot="icon-only"></ion-icon>
                    </ion-item-option> 
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
