#container {
  position: relative;
}

#pic1{
  width: 100%;
  height: 11rem;
}

#pic2 {
  position: absolute;
  size: 3rem 3rem;
  top: 55%;
  left: 30%;
  z-index: 3;
}

#clear {
  background: rgba(255, 255, 255, 1);
}