<ion-header>
    <ion-toolbar>
      <ion-title>{{selectedAction}} File</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onCancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-text-center ion-align-items-stretch ion-padding">
    <br><br><br>
    <ion-text color="secondary"><h3>Select By: </h3></ion-text>
    <br>
    <ion-button *ngIf="selectedAction === 'Upload'" color="primary" Expand="full" (click)="this.takePhoto()">Taking Photo</ion-button>
    <br>
    <ion-button color="primary" Expand="full" (click)="this.clickFileInput()">Getting File from device</ion-button>
    <label style="opacity: 0;">
        <input id="inputFile"  class="inputFile"   type="file" (change)="this.changeListener($event);"/>
         <span id="input-file-replacer">Select file</span>
      </label>
    <!-- <input type="file" id="inputFile" name="upload" style="opacity: 0; filter:alpha(opacity=0);" /> -->
  </ion-content>
  
