#caption{
  font-family: 'Bauhaus 93', 'Arial Narrow', Arial, sans-serif;
}

.select{
//  background: transparent;
  width: 100%;
  color: white;
}

.sort-label{
  border-top:  1px solid white;
  border-left:  1px solid white; 
  border-bottom: 1px solid white;
}

.sort-select{
  border-top:    1px solid white;
  border-right:  1px solid white; 
  border-bottom: 1px solid white;
}

// #sort{
//   background: transparent;
// }