<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="10" class="ion-text-center">
      <h1 id="caption">Pipernet World</h1>
    </ion-col>
    <ion-col size="2">
      <button id="backButton" (click)="this.goBack()">
        <img
          src="../../../assets/img/back-button-icon-png-21.jpg"
          width="35px"
          height="35px"
          alt="<"
        />
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10" offset="1">
      <ion-searchbar
        placeholder="search file..."
        animated
        autocomplete
        (ionChange)="onSearchChange($event)"
        [debounce]="250"
        color="primary"
      ></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5" offset="1">
      <ion-text class="badge badge-primary">
        <h5>Your queue</h5>
      </ion-text>
    </ion-col>
    <ion-col size="4" offset="1" class="ion-text-right">
        <ion-text class="badge badge-primary">
          <h5 text-white>Top Downloads</h5>
        </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
        <ion-col size="2" class="sort-label pt-3" >
            <span>Sort by</span>
        </ion-col>
        <ion-col size="4" class="sort-select">
            <ion-select class="select">
                <ion-select-option value="date-a" 
                  >Date &uarr;</ion-select-option
                >
                <ion-select-option value="date-d" selected
                  >Date &darr;</ion-select-option
                >
                <ion-select-option value="alphabet-a"
                  >Alph &uarr;</ion-select-option
                >
                <ion-select-option value="alphabet-d"
                  >Alph &darr;</ion-select-option
                >
              </ion-select>
        </ion-col>
        <ion-col size="2" class="sort-label pt-3" >
            <span>Sort by</span>
        </ion-col>
        <ion-col size="4" class="sort-select">
            <ion-select class="select">
                <ion-select-option value="date-a" 
                  >Date &uarr;</ion-select-option
                >
                <ion-select-option value="date-d" selected
                  >Date &darr;</ion-select-option
                >
                <ion-select-option value="alphabet-a"
                  >Alph &uarr;</ion-select-option
                >
                <ion-select-option value="alphabet-d"
                  >Alph &darr;</ion-select-option
                >
              </ion-select>
        </ion-col>
  </ion-row>
  <ion-row class="mt-1">
      <ion-col size="6" class="border border-right-5 border-left-0 border-top-0 border-bottom-0 ">
        <ion-list>
          <ion-item>
            <ion-label>Awesome Label</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" class="border border-left-5 border-right-0 border-top-0 border-bottom-0"></ion-col>
    </ion-row>
</ion-grid>
