<ion-header>
    <ion-toolbar>
      <ion-title>Rename File</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onCancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content color="primary">
    <ion-grid>
        <ion-row >
          <ion-col offset="1" size="10" color="primary border border-danger" class="ion-no-padding">
              <ion-img [src]="this.getImagePath()"></ion-img>
              <ion-text class="text-center">
                  <div>File name: <p class="badge badge-info"> {{file.name}} </p></div>
                  <div><span>File size: </span><p class="badge badge-info"> {{file.size}} </p></div>
                  <div><span>File type: </span><p class="badge badge-info"> {{file.type}} </p></div>
                  <div class="ion-text-wrap border border-success"><span>File path: </span><p class="badge badge-info ion-text-wrap"> {{ file.path}} </p></div>
                </ion-text>
                <ion-item>
                    <ion-label position="floating">New name</ion-label>
                    <ion-input
                      type="text"
                    ></ion-input>
                    <span slot="end">.{{file.type}}</span>
                  </ion-item>
          </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>