.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#goTo{
  font: outline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: lighter;
}

@keyframes coverForLocal {
  0% { clip-path: circle(5% at 13% 25%); }
  100% { clip-path: circle(125%  at 13% 25%); }
}

@keyframes coverForPiper {
  0% { clip-path: circle(5% at 13% 50%); }
  100% { clip-path: circle(125%  at 13% 50%); }
}

@keyframes localToHome {
  0% { clip-path: circle(125%  at 13% 25%); }
  100% { clip-path: circle(0% at 13% 25%); }
}

@keyframes piperToHome {
  0% { clip-path: circle(125%  at 13% 50%); }
  100% { clip-path: circle(0% at 13% 50%); }
}

.backFromLocal{
  background: url('../../assets/img/EmeraldGreen.jpg') 0 0/100% 100% no-repeat;
  animation: localToHome 1s 1;
}

.backFromPiper{
  background: url('../../assets/img/frostBlue.jpg') 0 0/100% 100% no-repeat;
  animation: piperToHome 1s 1;
}

.localWrold{
  background: url('../../assets/img/EmeraldGreen.jpg') 0 0/100% 100% no-repeat;
  animation: coverForLocal 3s 1;
}

.pipernetWrold{
  background: url('../../assets/img/frostBlue.jpg') 0 0/100% 100% no-repeat;
  animation: coverForPiper 3s 1;
}

.foggy-forest{
  --background: url(../../assets/img/foggyForest.png) 0 0/100% 100% no-repeat;
}

#emerald{
  width: 130px;
  height: 130px;
  background: url('../../assets/img/EmeraldGreen.jpg');
  border-radius: 50%;
  background-size: 210px;
  box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0), inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#frost{
  width: 130px;
  height: 130px;
  background: url('../../assets/img/frostBlue.jpg');
  border-radius: 50%;
  background-size: 210px;
  box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0), inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes circle {
  0% { clip-path: circle(75%); }
  50% { clip-path: circle(25%); }
  100% { clip-path: circle(75%); }
}

.rotate {
  cursor: pointer;
  color: white;
}

@keyframes rotate {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 210px;
  }
}